[cargo-new]
name = "Tom Forbes"
email = {{ .email | quote }}
vcs = "git"

[build]
rustc-wrapper = {{ joinPath .chezmoi.homeDir ".local/share/mise/shims/sccache" | quote}}
# rustflags = ["-C", "target-cpu=native"]
