alias j "z"
alias tmpd "pushd (mktemp -d)"
abbr -a ccwd "pwd | pbcopy"
alias ls "exa -a"
alias tree "ls -T"
alias cat "bat"
alias cs "open-project"
alias js "cd-project"
alias copy-venv "echo (pwd)/.venv/bin/python | pbcopy"
alias cloc "tokei"
alias streamsum "awk '{s+=\$1} END {print s}'"

set -gx AWS_DEFAULT_REGION "eu-west-1"

set -gx BAT_THEME "zenburn"
set -gx XDG_CACHE_HOME "$HOME/Library/Caches"
set -gx XDG_CONFIG_HOME "$HOME/.config"
set -gx POETRY_HOME "$XDG_CONFIG_HOME/poetry"
set -gx HTTPIE_CONFIG_DIR "$XDG_CONFIG_HOME/httpie"
set -gx IPYTHONDIR "$XDG_CONFIG_HOME/ipython"
set -gx NODE_REPL_HISTORY "$XDG_CONFIG_HOME/node_repl_history"
set -gx RUSTUP_HOME "$XDG_CONFIG_HOME/rustup"
set -gx CARGO_HOME "$XDG_CONFIG_HOME/cargo"
set -gx VIRTUALFISH_HOME "$XDG_CONFIG_HOME/virtualfish"
set -gx NVM_DIR "$XDG_CONFIG_HOME/nvm"
set -gx DOCKER_CONFIG "$XDG_CONFIG_HOME/docker"
set -gx GIT_WORKSPACE "$HOME/PycharmProjects/"
set -gx PIPX_HOME "$XDG_CONFIG_HOME/pipx"
set -gx PIPX_BIN_DIR "$PIPX_HOME/bin"
set -gx TEALDEER_CONFIG_DIR ~/.config/tealdeer/

set -gx EDITOR "charm --wait"

set -gx LC_ALL en_US.UTF-8
set -gx LANG en_US.UTF-8
set -gx VIRTUAL_ENV_DISABLE_PROMPT 1
set -gx GPG_TTY (tty)
set -gx HOMEBREW_NO_ENV_HINTS 1
set -gx HOMEBREW_AUTO_UPDATE_SECS 86400

set PATH {$HOME}/"Library/Application Support/JetBrains/Toolbox/scripts" /Applications/Postgres.app/Contents/Versions/latest/bin $CARGO_HOME/bin/ $POETRY_NAME/bin $PIPX_BIN_DIR /usr/sbin $PATH

if status --is-interactive
    set BASE16_SHELL "$HOME/.config/base16-shell/"
    source "$BASE16_SHELL/profile_helper.fish"
    base16-materia
end

# Color schemes
set fish_color_command $pure_color_normal

source {{ (joinPath .chezmoi.homeDir ".config/fish/secrets.fish") | quote }}
eval "$(/opt/homebrew/bin/brew shellenv)"
source /opt/homebrew/opt/asdf/libexec/asdf.fish
source ~/.config/fish/history.fish

# Disabled, causes issues with pure shell.
#source ~/.config/iterm2/shell_integration.fish