alias j "z"
alias charm "pycharm"
alias tmpd "pushd (mktemp -d)"
abbr -a ccwd "pwd | pbcopy"
alias ls "eza -a"
alias tree "ls -T"
alias cat "bat"
alias cs "open-project"
alias js "cd-project"
alias gs "open-github"
alias copy-venv "echo (pwd)/.venv/bin/python | pbcopy"
alias cloc "tokei"
alias hex "hexyl"
alias pstree "pstree -w"
alias streamsum "awk '{s+=\$1} END {print s}'"

{{ template "shell_variables" . }}

set -gx GPG_TTY (tty)

fish_add_path -mP {$HOME}/"Library/Application Support/JetBrains/Toolbox/scripts"
fish_add_path -mP /Applications/Postgres.app/Contents/Versions/latest/bin

fish_add_path -mP /usr/sbin

if status --is-interactive
    # Inlined here for performance, so we don't evaluate every theme on startup.
    set BASE16_SHELL "$HOME/.config/base16-shell/"

    if test -e ~/.base16_theme
        set -l SCRIPT_NAME (basename (realpath ~/.base16_theme) .sh)
        set -gx BASE16_THEME (string match 'base16-*' $BASE16_THEME  | string sub -s (string length 'base16-*'))
        eval sh '"'(realpath ~/.base16_theme)'"'
    end
end

# Color schemes
set fish_color_command $pure_color_normal

source {{ (joinPath .chezmoi.homeDir ".config/fish/secrets.fish") | quote }}

if test -e /opt/homebrew/bin/brew
    eval "$(/opt/homebrew/bin/brew shellenv fish)"
else
    eval "$(/usr/local/bin/brew shellenv fish)"
end

fish_add_path -mP $CARGO_HOME/bin/

if test -e /opt/homebrew/opt/asdf/libexec/asdf.fish
    source /opt/homebrew/opt/asdf/libexec/asdf.fish
end

set -g async_prompt_functions _pure_prompt_git
set -g pure_enable_container_detection false
set -g pure_separate_prompt_on_error true
set -g pure_show_subsecond_command_duration true
set -g pure_threshold_command_duration 2

source ~/.config/fish/history.fish
source ~/.config/fish/pure.fish

# Disabled, causes issues with pure shell.
#source ~/.config/iterm2/shell_integration.fish
