set -gx GITHUB_TOKEN {{ onepasswordRead "op://chezmoi/github/password" | quote }}
set -gx GITHUB_PACKAGE_TOKEN {{ onepasswordRead "op://chezmoi/github-packages/token" | quote }}
set -gx HOMEBREW_GITHUB_API_TOKEN $GITHUB_TOKEN
set -gx GITLAB_TOKEN {{ onepasswordRead "op://chezmoi/gitlab/password" | quote }}
set -gx CARGO_REGISTRY_TOKEN {{ onepasswordRead "op://chezmoi/crates.io/credential" | quote }}
set -gx TF_TOKEN_app_terraform_io {{ onepasswordRead "op://chezmoi/terraform/credential" | quote }}
set -gx GG_GITLAB_TOKEN {{ onepasswordRead "op://chezmoi/gg-gitlab/api-key" | quote }}