set -gx GITHUB_TOKEN {{ onepasswordRead "op://chezmoi/github/password" | quote }}
set -gx GITHUB_PACKAGE_TOKEN {{ onepasswordRead "op://chezmoi/github-packages/token" | quote }}
set -gx HOMEBREW_GITHUB_API_TOKEN $GITHUB_TOKEN
set -gx CARGO_REGISTRY_TOKEN {{ onepasswordRead "op://chezmoi/crates.io/credential" | quote }}
