set -gx GITHUB_PERSONAL_TOKEN {{ onepasswordRead "op://chezmoi/github/password" | quote }}
{{- if (.is_work_machine) }}
set -gx GITHUB_WORK_TOKEN {{ onepasswordRead "op://chezmoi/github-work/password" | quote }}
{{- end }}
set -gx CARGO_REGISTRY_TOKEN {{ onepasswordRead "op://chezmoi/crates.io/credential" | quote }}
