[secret]
command = "op"

[data]
is_work_machine = {{ promptBool "Setup as work machine?" false }}

[merge]
command = "git"
args = ["mergetool"]

[edit]
command = "pycharm"
args = ["-e", "--wait"]

[[textconv]]
pattern = "**/*.plist"
command = "/bin/zsh"
args = ["-c", "plutil -convert json -o - - | jq"]
