[secret]
command = "op"

{{ if eq .chezmoi.username "runner" }}
[scriptEnv]
CI = "true"
{{ end }}

[data]
is_work_machine = {{ hasPrefix "KF" .chezmoi.hostname }}

[merge]
command = "git"
args = ["mergetool"]

[edit]
command = "pycharm"
args = ["-e", "--wait"]

[[textconv]]
pattern = "**/*.plist"
command = "/bin/zsh"
args = ["-c", "plutil -convert json -o - - | jq"]
