# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Tom Forbes
	email = tom@tomforb.es
	signingkey = EB78E9C28812914F9CA968000BBE5147C22F3AF2

[gpg]
	program = /usr/local/bin/gpg

[commit]
	gpgsign = true
