# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Tom Forbes
	email = tom@tomforb.es
	signingkey = F91ADD01

[gpg]
	program = /usr/local/bin/gpg

[commit]
	gpgsign = true
[core]
	excludesfile = /Users/tom/.gitignore
	autocrlf = input

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

