# Core brews
brew "httpie"
brew "chezmoi"
brew "nushell"
brew "mise"

# Fish utils
brew "fish"
brew "fisher"

# Standard utils
brew "wget"
brew "wget2"
brew "git"
brew "git-lfs"
brew "curl"

# GNU stuff
brew "gnu-sed"
brew "gnu-tar"
brew "coreutils"
brew "findutils"
brew "parallel"
brew "screen"
brew "nano"
brew "watch"
brew "htop"

# My tools
brew "gping"
brew "git-workspace"
brew "hq"

# Useful utilities
brew "ffmpeg"
brew "ncdu"
brew "pv"
brew "tree"
brew "yt-dlp"
brew "pstree"
brew "litecli"
brew "graphviz"
brew "skopeo"
brew "shfmt"
brew "libmagic"
brew "trash"
brew "pgcli"

# Other
brew "defaultbrowser"

# For alfred plugins
brew "php"

# Common build deps
brew "cmake"
brew "pkg-config"

# for fix-code-permissions.sh
brew "duti"

# Fonts - needs svn for some reason?
brew "svn"
cask 'font-source-code-pro-for-powerline'
cask 'font-source-code-pro'
cask 'font-source-sans-3'
cask 'font-source-serif-4'

# Core casks
cask "iterm2"
cask "firefox@developer-edition"
cask "dash"
cask "alfred"
cask "istat-menus"
cask "deckset"
cask "jetbrains-toolbox"
cask "1password-cli"

# Data utils
cask "clickhouse"

# Other apps
cask "claude"

# Quicklook plugins
cask "qlmarkdown"
cask "quicklook-json"

# App Store Apps
brew "mas"
mas "Magnet", id: 441258766

# Desktop Stuff
cask "bartender"
cask "1password", args: {"adopt": true}

# Personal deps:
{{- if (not (.is_work_machine)) }}
cask "mullvadvpn"
cask "little-snitch"
cask "micro-snitch"
cask "vlc"
cask "batteries"
cask "postgres-unofficial"  # postgres.app
cask "wireshark"

mas "UTM Virtual Machines", id: 1538878817
{{- end }}

# Work deps:
{{- if (.is_work_machine) }}
tap "datawire/blackbird"
tap "derailed/k9s"
tap "microsoft/git"

brew "metalbear-co/mirrord/mirrord"

brew "aws-iam-authenticator"
brew "aws-shell"
brew "awscli"
brew "azure-cli"

brew "gimme-aws-creds"
brew "git-extras"

brew "kubernetes-cli"

brew "clang-format"
brew "flyway"
brew "go-task"

cask "docker"
cask "git-credential-manager"
cask "google-cloud-sdk"
{{- end }}
