# This is Git's per-user configuration file.
{{- not if .is_work_machine }}
[user]
  name = Tom Forbes
  email = {{ .email | quote }}
  signingKey = {{ template "ssh_pub" . | quote }}

{{- else }}
[user]
    email = tom.forbes@gitguardian.com
    signingkey = 30A656298213BA4B

[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg]
	format = openpgp
{{- end }}

#[gpg]
#  format = ssh

#[gpg "ssh"]
#  allowedSignersFile = {{ joinPath .chezmoi.homeDir ".config/git/allowed_signers" | quote}}

#[commit]
#  gpgsign = true

#[tag]
#  gpgsign = true


[core]
  excludesfile = {{ (joinPath .chezmoi.homeDir ".gitignore") | quote }}
  autocrlf = input
  pager = "delta"
  attributesfile = {{ (joinPath .chezmoi.homeDir ".gitattributes") | quote }}
  fsmonitor = false
  untrackedcache = true

[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f

[push]
  default = current

[pull]
  rebase = false

[init]
  defaultBranch = main

[diff]
  tool = pycharm
  guitool = pycharm
  colorMoved = "default"

[difftool]
  prompt = false

[merge]
  tool = pycharm
  conflictstyle = "diff3"

[difftool "pycharm"]
  cmd = charmdiff.sh "$LOCAL" "$REMOTE"

[mergetool "pycharm"]
  cmd = pycharm merge "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
  keepBackup = false

[url "ssh://git@github.com/octoenergy/"]
  insteadOf = https://github.com/octoenergy/

[interactive]
    diffFilter = "delta --color-only"

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = true
    hyperlinks = true
    hyperlinks-file-link-format = "pycharm://{path}:{line}"

[diff "plist"]
  textconv = zsh -c 'plutil -convert json -o - | jq'
