#!/bin/zsh
set -uo pipefail

{{ template "shell_variables" }}

curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- '-y'
source "$CARGO_HOME/env"
rustup toolchain install nightly stable
