#!/bin/zsh
set -eu -o pipefail

# Brewfile hash: {{ include "Brewfile" | sha256sum }} {{ include "Brewfile.cask" | sha256sum }}

brew tap "derailed/k9s"

temp=$(mktemp)

cat {{ joinPath .chezmoi.sourceDir "Brewfile" | quote }} > "$temp"

if [[ ! -v CI ]]; then
  cat {{ joinPath .chezmoi.sourceDir "Brewfile.cask" | quote }} >> "$temp"
fi

if [[ -v CI ]]; then
  deps=$(mktemp)
  all_deps=$(mktemp)
  brew bundle list --file=Brewfile > "${deps}"
  # shellcheck disable=SC2046
  brew deps -n --union --full-name $(cat "$deps") > "${all_deps}"

  cat "${deps}" "${all_deps}" | sort | uniq | xargs -P20 -n10 brew fetch --retry -q | grep -v 'SHA256: '
fi

HOMEBREW_NO_INSTALL_CLEANUP=1 HOMEBREW_NO_AUTO_UPDATE=1 brew bundle --verbose --no-lock --file="$temp" --no-upgrade

if [[ ! -v CI ]]; then
  echo "Running brew cleanup"
  brew bundle cleanup --file="$temp" --force
  brew cleanup
fi
