[tools]
# Languages
node = 'lts'
python = ['3.10', '3.11', '3.12', '3.13']
rust = 'stable'
terraform = 'latest'
go = "latest"

# Python tools
uv = "latest"
"pipx:httpie" = "latest"
"pipx:ipython" = "latest"
"pipx:pgcli" = "latest"
"pipx:maturin" = {version = "latest", extras = "zig" }
"aqua:duckdb/duckdb" = "latest"

# Dev tools
"aqua:noborus/ov" = "latest"  # Terminal pager
jq = 'latest'
fzf = 'latest'
pre-commit = "latest"
gh = "latest"
shellcheck = "latest"
yq = "latest"
awscli = "latest"

# Data tools
clickhouse = "latest"

# Utilities
"github:orf/trash" = "latest"
"github:go-task/task" = "latest"

# K8s / Docker stuff
kubectl = "latest"
stern = "latest"
kubectx = "latest"
k9s = "latest"
helm = "latest"
dive = "latest"

# Go stuff
"github:golangci/golangci-lint" = "latest"

# Rust dev tools
"cargo:eza" = "latest"
"cargo:bat" = "latest"
"cargo:fd-find" = "latest"
"cargo:tokei" = "latest"
"github:starship/starship" = "latest"
"cargo:ripgrep" = "latest"
"cargo:tealdeer" = "latest"
"cargo:xsv" = "latest"
"cargo:hexyl" = "latest"
"cargo:hyperfine" = "latest"
"cargo:git-delta" = "latest"
"cargo:cargo-release" = "latest"
"cargo:samply" = "latest"
"cargo:parquet" = { version = "latest", features = "cli" }

{{- if (not (.is_work_machine)) }}
# Cargo dev tools
"cargo:cargo-bloat" = "latest"
"cargo:cargo-watch" = "latest"
"cargo:cargo-outdated" = "latest"
"cargo:cargo-expand" = "latest"
{{- end }}

# Useful utils
glow = "latest"

[settings]
cache_prune_age = "7d"
lockfile = true

[settings.status]
show_tools = false
missing_tools = "never"

[settings.pipx]
uvx = true
