plugin_cache_dir   = "$HOME/Library/Caches/terraform/plugins/"

{{- if .is_work_machine }}
credentials {{ onepasswordRead "op://chezmoi/work-gitlab/gitlab-host" | quote }} {
    token = {{ onepasswordRead "op://chezmoi/work-gitlab/api-key" | quote }}
}
{{- end }}
