on: [push]

name: CI

jobs:
  build_and_test:
    name: Test
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@master
      - name: Run bootstrap
        shell: bash
        run: |
          # Need to unlink Node here, as node@6 is installed :(
          brew unlink node@6

          ./bootstrap.sh
        env:
          REPO: ${{github.workspace}}
          DOTFILES_REF: ${{github.sha}}
          HOMEBREW_BUNDLE_BREW_SKIP: "node"
